.textBox{
    border: 1px solid #ebeff2;
    font-size: 14px;
    color: #696969;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.invalid-text{
    color:#a74747;
    margin-top: -11px;
    position: relative;
 
}

.success-message{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding:10px;
}

.error-message{
    color: #a74747;
    position: relative;
    left: -10px;
    height:10px;
    font-size: 14px;
    padding:10px;
}

.forget-pass-panel {
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 40px 70px;
    max-width: 665px;
    margin: 80px auto 0;
}

.forget-pass-panel h3 {
    font-weight: 600;
    font-size: 30px;
    color: #3d3d3d;
    font-family: 'Raleway', sans-serif;
}
.bluetxt {
    color: #1bace2 !important;
}
.forget-pass-panel h3:after {
    display: block;
    height: 1px;
    width: 130px;
    background: #c1c1c1;
    margin: 10px 0;
    content: "";
}

.loginSec input[type="email"], .loginSec input[type="password"], .password {
    width: 100%;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 9px 10px;
    font-size: 15px;
    margin-bottom: 13px;
}
.forget-pass-panel .custBtn {
    padding: 6px 35px;
}

#changePassword:hover {
    background: #fff;
    color: #1bace2 !important;
    border: 1px solid #1bace2;
}
#changePassword {
    background: #1bace2;
    color:  #fff !important;
    border: 1px solid #1bace2;
    position: relative;
    top: 14px;
}
.invalid-text-error{
    color: #a74747;
    margin-top: 0px;
    position: relative;
    margin-bottom: 9px;

}