<div class="container">
		<div class="forget-pass-panel">
			<h3>Reset <span class="bluetxt">Password</span></h3>
            <p *ngIf="SuccessVisible" class="success-message">Your password has been changed successfully. </p>
			<p *ngIf="ErrorVisible" class="invalid-text-error">{{ErrorMessage}}</p>
			<form #ResetPasswordForm="ngForm">			
				
				<label for="newpassword" class="bluetxt">New Password</label>

				<input type="password" class="password" ngModel required name="NewPassword" #NewPassword="ngModel" [class.invalid]="isSaveButtonClick && !NewPassword.valid" minlength="6" [(ngModel)]="objResetPassword.NewPassword">
				<div class="invalid-text" *ngIf="(NewPassword.dirty && !NewPassword.valid) ||(isSaveButtonClick && !NewPassword.valid)">
					<div *ngIf="NewPassword.errors.required">This field is required.</div>
					<div *ngIf="NewPassword.errors.minlength">Password should must be of atleast 6 characters</div>
				</div>
				
				<label for="confirmpassword" class="bluetxt">Confirm New Password</label>
				<input type="password" appConfirmEqualValidator="NewPassword" class="password" ngModel required name="email" #ConfirmPassword="ngModel"   [class.invalid]="isSaveButtonClick && !ConfirmPassword.valid" minlength="6" [(ngModel)]="objResetPassword.ConfirmPassword">
				<div class="invalid-text" *ngIf="(ConfirmPassword.dirty && !ConfirmPassword.valid) ||(isSaveButtonClick && !ConfirmPassword.valid)">
					<div *ngIf="ConfirmPassword.errors.required">This field is required.</div>
					<div *ngIf="ConfirmPassword.errors.minlength">Password should must be of atleast 6 characters</div>
					<div *ngIf="!ConfirmPassword.errors?.minlength && ConfirmPassword.errors.notEqual">Passwords do not match</div>
				</div>
				<a class="custBtn" id="resetPassword" (click)="onSaveClick()" style="cursor:pointer;">Submit</a>
	
			 </form>
		</div>
	</div>
	