
<div class="genrel-popup sub_popup clearfix unfollow" id="unfollow_popup" style="display: none;">
    <figure style="background-size: cover; background-position: 50% 50%;" class="user-img profileImage" *ngIf="(objAccountSetting?.ProfilePictureUrl!=null)" [style.background-image]="'url('+imagePath+''+objAccountSetting?.ProfilePictureUrl+')'"></figure>
    <figure style="background-size: cover; background-position: 50% 50%;" class="user-img profileImage" *ngIf="(objAccountSetting?.ProfilePictureUrl==null)" [style.background-image]="'url(assets/images/signup-thumb.jpg)'"></figure>  
    <div class="field text-center">
      <p>Unfollow <span>@{{objAccountSetting?.UserName}}?</span></p>
    </div>
    
    <a href="javascript:;" data-fancybox-close="" class="unfollow_btn" title="" (click)="unFollow(followingIndex)">Unfollow</a>
    <a href="javascript:;" data-fancybox-close="" title="">Cancel</a>
    
</div>


<div class="mainSec">
    <div class="container clearfix">
        <app-sidebar></app-sidebar>
        <div class="activity-panel followings ">
          <div class="group_search">
              <!-- (focus)="search()" -->
              <input type="text" name="" placeholder="Search" (keyup)="followingsSearch()" [(ngModel)]="searchTextFollowings" style="padding: 6px 42px 6px 15px;" g-keydown="followingsSearch()"> 
              <button type="submit" style="position: relative; top:-27px;"></button>
             
            </div>
      <div class="activity-panel">
        <div class="clearfix">
          <div class="follow_panel wid mb-0">
              <div [hidden]="objUserSettings?.FollowersCount!=0" class="content">
                  <h4 style="color: #1bace2;">You’ve no followers as yet. Start sharing more posts that you get noticed.</h4>
              </div>
              <span [hidden]="objUserSettings?.FollowersCount==0" style="color: #1bace2;font-size: 26px;font-style: oblique;font-weight: 600;position: relative;left: 24px;bottom: 11px;">Followers</span>
            <ul class="following_scroll">             
                <li *ngFor="let objFollower of objFollowers; let i=index;">
                  <figure *ngIf="(objFollower.FirstUser!=null && objFollower.FirstUser.ProfilePictureUrl!=null)" class="user-img" [style.background-image]="'url('+imagePath+''+objFollower.FirstUser.ProfilePictureUrl+')'"></figure>
                  <figure *ngIf="!(objFollower.FirstUser!=null && objFollower.FirstUser.ProfilePictureUrl!=null)" class="user-img" [style.background-image]="'url(assets/images/signup-thumb.jpg)'"></figure>
                  
                  <div class="content">
                    <h4 (click)="userProfileRedirect(objFollower?.FirstUser?.Id)" style="cursor: pointer;" id="profileNameRedirect">{{objFollower?.FirstUser?.FullName}}</h4>
                  </div>                
                  <a href="javascript:;" class="custBtn followBtn" *ngIf="objFollower.IsFollowing==false" id="followButton" class="custBtn" (click)="follow(i)" style="cursor:pointer;">Follow</a>
                  <a href="javascript:;" data-fancybox="" data-src="#unfollow_popup" title="" *ngIf="objFollower.IsFollowing==true" class="custBtn followBtn following" id="unFollowButton" (click)="setIndex(i)" style="cursor:pointer;">Following</a>
                </li>  
                <li *ngIf="objFollowers.length<1" >No Follows Found. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>