<div class="heatmap_parent">
    <div class="container">
        <div id="floating-panel">
            <button id="toggle">Toggle Heatmap</button>
            <button id="radius">Change radius</button>
            <button id="opacity">Change opacity</button>
        </div>
    </div>
    <div id="maps"></div>
</div>
<style>
    #maps {
        min-height: 850px;
    }
</style>



<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwfzyEx7gpaPSw3IHWMDLi6MOD5tpyYr8&?v=3.exp&libraries=places&libraries=visualization&callback=initMap" async defer></script> -->
