
<div class="mainSec">
	<div class="container clearfix">
    <!-- <app-sidebar></app-sidebar> -->


		<div class="activity-panel" style="width:100%;">
			<div class="clearfix">
				<div class="about_panel wid mb-0" >
					<!-- <h3>About Us</h3>
					<p style="text-align: justify"><strong>What is risco?</strong> <span style="color:#1bace2; text-decoration: underline;"> </span> <br> Risco app that will allow users to socialize with other users and get risks & incident reported through the app. Users will be able to post pictures, videos and share events on their time line.<br><br> 
              Risco is on online news and social networking site where people communicate risks in short messages called risco. Risco is reporting short messages to anyone who follows you on risco or in-group of users, with the hope that your messages are useful and interesting to someone in your audience. Some people also use risco to discover interesting people and companies online and to follow their posts as long as they are interesting. <br> <br>
              Your Post thru Risco will see by millions of users and no need for followers when reporting incident, to know how? <a *ngIf="LoginStatus==false" style="color:#1bace2; text-decoration: underline;" href="#C4"> See Setting </a>  <a *ngIf="LoginStatus==true" style="color:#1bace2; text-decoration: underline;" [routerLink]="['/account-setting']"> See Setting </a>   <br> <br>
             <strong> Why risco is So Popular? Why Do Millions of People Follow Others? </strong><br>
              Risco is big appeal is how rapid and scan-friendly it is: you can track millions of interesting risco users, and read their risks or incidents content with a glance. This is ideal for our modern attention-deficit world. <br> <br>
              <strong>How Does Risco Work?</strong> <br><br>
              Risco is very simple to use as broadcaster or receiver. You join with a free account in risco app name. Then you send Risco broadcast. Go to the 'What's News box, type 300 characters or less, and click post. You will most likely include some kind of hyperlink. <br> <br>
              To receive risco feeds, you simply find someone interesting (celebrities included), and 'follow' them to subscribe to their risks microblogs. Once a person becomes uninteresting to you, you simply 'unfollow' them. <br> <br>
              You then choose to read your daily risco feeds through any of various risco readers. <br> <br>
              <strong>Risco is that simple.</strong> </p>

              <h3>Why Do People Post Risco? </h3>
              <p style="text-align: justify">People send risco for all sorts of reasons: incident reporting, warning others, reporting ganger things…est. self-promotion of their web pages, boredom. The great majority of risco’ s do this microblogging as a recreational thing, a chance to shout out to the world and revel in how many people choose to read your stuff. </p>
              <p style="text-align: justify">However, there is a growing number of risco and group users who send out some useful content. Moreover, it provides a stream of quick updates from friends, family, scholars, news journalists, and experts. It empowers people to become amateur journalists of life, describing and sharing something that they found interesting about their day. </p>
             
              <h3>Risco Is a Form of Amateur News Reporting?</h3>
              <p style="text-align: justify">Yes, that is one aspect of risco. Among other things, risco is a way to learn about what is going on in the world through another person's eyes.</p>
             
              <h3>People Use Risco as a Marketing Tool? </h3>
              <p style="text-align: justify">Yes, absolutely. Thousands of people advertise their recruiting services, their consulting businesses, their retail stores by using Risco.</p>
              <p style="text-align: justify">The modern internet-savvy user is tired of a television advertisement. People today prefer advertising that is faster, less intrusive, and can be turned on or off at will. Risco is exactly that. </p>
             
              <h3>Isn't Risco a Social Messaging Tool? </h3>
              <p style="text-align: justify">Yes, Risco is social media, absolutely. However, it is more than just instant messaging. Risco is about discovering risks & incidents in additional of interesting people around the world. It can also be about building a following of people who are interested in you and your work/hobbies and then providing those followers with some kind of knowledge value every day.</p>

              <h3 id="C4">See Setting: <p style="display:inline;"><span style="color:#1bace2; text-decoration: underline;"></span> </p> </h3>
              <p style="text-align: justify">Registration in this service is very easy so that the user at the beginning of the registration select the desires interests that he wishes and enjoy the follow-up and the user can modify (add or cancel) any of the wishes at any time after registration.</p>

              <h3>Goodbye Followers  </h3>
              <p style="text-align: justify">This unique feature of Risco application allows you millions of followers all over the world without the need to have registered followers, no worries about the delivery of your message, how?</p>

              <p style="text-align: justify">For example <span style="color:#1bace2;text-decoration:underline"></span>  if the environment selected, the application will automatically program itself by linking all your content with users around the world to anyone who select environment and will see the content of the message.</p>
              <p style="text-align:justify;">The program will also deliver your message to anyone who speaks the selected language at the time of registration, as well as English as the primary language in the application, thus reaching millions of followers around the world without waiting increase number of followers.</p>

              <h3>Groups & Creating Group: </h3>
              <p style="text-align:justify;">One of the advantages of Risco application is to allow the privacy of a particular group to share some of them an infinite number of members can be added to the group to discuss topics, share ideas, images and video. This is what the Risco does by creating an automatic page for the group.</p>
              <p style="text-align:justify;">For example, <span style="color:#1bace2;text-decoration:underline"> </span> if a group of doctors were created to discuss a specific medical event or subject, or even carry out live surgery to learn, members of the group they could participate this events to get advantages by sharing thoughts & experience.</p> -->

             
				</div>
			</div>
		</div>
	</div>
</div>