<div class="container">
	<div class="forget-pass-panel">
		<h3>Forgot <span class="bluetxt">Password</span></h3>
		<div class="clearfix" style="margin: 20px 0px;"></div>
		<p>Enter your E-mail Address and we’ll send you a link to reset your password</p>
		<p *ngIf="SuccessVisible" class="success-message">Password reset email has been sent to your email account successfully.</p>
		<p *ngIf="ErrorVisible" class="error-message" style="position: relative;left:-9px;">{{ErrorMessage}}</p>
		 <form #UserForm="ngForm" style="margin: 30px 0px;">

			<label for="email" class="bluetxt">Email Address</label>
			<input style="position: relative;left:6px;" type="email" ngModel required name="email" pattern="[a-zA-Z0-9_.-]+@[a-zA-Z0-9_-]+\.[a-zA-Z0-9_.-]{2,}" (keyup)="onkeyUp($event,email)" #email="ngModel"  class="mb-3" [class.invalid]="isSaveButtonClick && !email.valid">
			
			<a class="custBtn" id="kj" (click)="forgetPassword(email)" style="position: relative;left:15px;color:#fff;background-color: #1bace2;cursor: pointer;">Submit</a>
			
			<div class="invalid-text" *ngIf="(email.dirty && !email.valid) ||(isSaveButtonClick && !email.valid)">
				<div *ngIf="email.errors.required">Email is required.</div>
				<div *ngIf="email.errors.pattern">Email is invalid.</div>
			</div> 
		 </form>
	</div>
</div>
