
.success-message{
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding:10px;
}

.error-message{
    color: #a74747;
    position: relative;
    top: -12px;
    height:10px;
    font-size: 14px;
    padding:10px;
}
.invalid{
    border:1px solid #a74747;
}
.invalid-text{
    color: #a74747;
    margin-top: 5px;
}

.forget-pass-panel {
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 40px 70px;
    max-width: 665px;
    margin: 80px auto 0;
}
.forget-pass-panel h3 {
    font-weight: 600;
    font-size: 30px;
    color: #3d3d3d;
    font-family: 'Raleway', sans-serif;
}
#kj:hover{
    background: #1bace2 !important;
    color: #fff !important;
}
