


<div class="mainSec">
	<div class="container clearfix">
      <app-group-sidebar></app-group-sidebar>	 

		<div class="activity-panel">
			<div class="status-panel clearfix">
				<div class="post-panel wid mb-0">
					<figure class="user-img" style="background-image: url('assets/images/user-img.jpg');"></figure>
					<h4 class="placeholder">What’s new?</h4>
					<span class="icon-img"></span>
				</div>
				<div class="setting-buttons">
					<a ><span class="icon-bin"></span> Delete Group</a>
					<!-- <a  class="privacy-btn mb-0"><span class="icon-setting"></span> Privacy Settings</a> -->
				</div>
			</div>

			<div class="cards-panel">

				<div class="post-cart wid pb-0">
					<div class="cart-header clearfix">
						<div class="left">
							<figure class="user-img" style="background-image: url('assets/images/user-5.jpg');"></figure>
							<div class="dtl">
								<h3>Jonathan Chen</h3>
								<ul>
								    <li>Risk <span class="redtxt">High</span></li>
								    <li>01:38 PM</li>
								    <li>13 March 2018</li>
								</ul>
							</div>
						</div>
						<span class="icon-add2"></span>
					</div>
					<div class="cart-img" style="background-image:url('assets/images/post-img.jpg');"></div>
					<div class="cart-content">
						<p class="trancate360">New wave of violence as the world contempaltes whether to New wave of violence as the world contempaltes whether to</p>
						<a  target="_blank" class="trancate170">www.bbc.co.uk/oil-pricesoil-pricesoil-prices</a>
						<ul class="social-counter">
						    <li>9,764 Likes</li>
						    <li>764 Comments</li>
						    <li>764 Shares</li>
						</ul>
					</div>
					<div class="cart-footer">
						<a ><span class="icon-star"></span></a>
						<a ><span class="icon-comment"></span></a>
						<a ><span class="icon-reply"></span></a>
						<a ><span class="icon-share"></span></a>
						<a ><span class="icon-more"></span></a>
					</div>
				</div>

				<div class="post-cart wid pb-0">
					<div class="cart-header clearfix">
						<div class="left">
							<figure class="user-img" style="background-image: url('assets/images/user-5.jpg');"></figure>
							<div class="dtl">
								<h3>Jonathan Chen</h3>
								<ul>
								    <li>Risk <span class="redtxt">High</span></li>
								    <li>01:38 PM</li>
								    <li>13 March 2018</li>
								</ul>
							</div>
						</div>
						<span class="icon-add2"></span>
					</div>
					<div class="cart-img" style="background-image:url('assets/images/post-img2.jpg');"></div>
					<div class="cart-content">
						<p class="trancate360">New wave of violence as the world contempaltes whether to New wave of violence as the world contempaltes whether to</p>
						<a target="_blank" class="trancate170">www.bbc.co.uk/oil-pricesoil-pricesoil-prices</a>
						<ul class="social-counter">
						    <li>9,764 Likes</li>
						    <li>764 Comments</li>
						    <li>764 Shares</li>
						</ul>
					</div>
					<div class="cart-footer">
						<a ><span class="icon-star"></span></a>
						<a ><span class="icon-comment"></span></a>
						<a ><span class="icon-reply"></span></a>
						<a ><span class="icon-share"></span></a>
						<a ><span class="icon-more"></span></a>
					</div>
				</div>

				<div class="post-cart wid pb-0">
					<div class="cart-header clearfix">
						<div class="left">
							<figure class="user-img" style="background-image: url('assets/images/user-5.jpg');"></figure>
							<div class="dtl">
								<h3>Jonathan Chen</h3>
								<ul>
								    <li>Risk <span class="redtxt">High</span></li>
								    <li>01:38 PM</li>
								    <li>13 March 2018</li>
								</ul>
							</div>
						</div>
						<span class="icon-add2"></span>
					</div>
					<div class="cart-img" style="background-image:url('assets/images/post-img3.jpg');"></div>
					<div class="cart-content">
						<p class="trancate360">New wave of violence as the world contempaltes whether to New wave of violence as the world contempaltes whether to</p>
						<a  target="_blank" class="trancate170">www.bbc.co.uk/oil-pricesoil-pricesoil-prices</a>
						<ul class="social-counter">
						    <li>9,764 Likes</li>
						    <li>764 Comments</li>
						    <li>764 Shares</li>
						</ul>
					</div>
					<div class="cart-footer">
						<a ><span class="icon-star"></span></a>
						<a ><span class="icon-comment"></span></a>
						<a ><span class="icon-reply"></span></a>
						<a ><span class="icon-share"></span></a>
						<a ><span class="icon-more"></span></a>
					</div>
				</div>

				<div class="post-cart wid pb-0">
					<div class="cart-header clearfix">
						<div class="left">
							<figure class="user-img" style="background-image: url('assets/images/user-5.jpg');"></figure>
							<div class="dtl">
								<h3>Jonathan Chen</h3>
								<ul>
								    <li>Risk <span class="redtxt">High</span></li>
								    <li>01:38 PM</li>
								    <li>13 March 2018</li>
								</ul>
							</div>
						</div>
						<span class="icon-add2"></span>
					</div>
					<div class="cart-img" style="background-image:url('assets/images/post-img4.jpg');"></div>
					<div class="cart-content">
						<p class="trancate360">New wave of violence as the world contempaltes whether to New wave of violence as the world contempaltes whether to</p>
						<a target="_blank" class="trancate170">www.bbc.co.uk/oil-pricesoil-pricesoil-prices</a>
						<ul class="social-counter">
						    <li>9,764 Likes</li>
						    <li>764 Comments</li>
						    <li>764 Shares</li>
						</ul>
					</div>
					<div class="cart-footer">
						<a ><span class="icon-star"></span></a>
						<a ><span class="icon-comment"></span></a>
						<a ><span class="icon-reply"></span></a>
						<a ><span class="icon-share"></span></a>
						<a ><span class="icon-more"></span></a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<!-- <?php include("inc/footer.php"); ?> -->